<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thống kê</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h2>Thống kê</h2>
<table>
    <thead>
    <tr>
        <th>STT</th>
        <th colspan="2">Thông tin trận đấu</th>
        <th>Round</th>
        <th>Stadium</th>
        <th>Number of Spectators</th>
    </tr>
    </thead>
    <tbody id ="tbl_statistic">
    <tr>
        <td>1</td>
        <td>Time: 2024-04-14</td>
        <td> Teams: A vs. B</td>
        <td>Round 1</td>
        <td>Stadium X</td>
        <td>10000</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Time: 2024-04-15</td>
        <td> Teams: C vs. D</td>
        <td>Round 2</td>
        <td>Stadium Y</td>
        <td>12000</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Time: 2024-04-14</td>
        <td> Teams: A vs. B</td>
        <td>Round 1</td>
        <td>Stadium X</td>
        <td>10000</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Time: 2024-04-15</td>
        <td> Teams: C vs. D</td>
        <td>Round 2</td>
        <td>Stadium Y</td>
        <td>12000</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Time: 2024-04-14</td>
        <td> Teams: A vs. B</td>
        <td>Round 1</td>
        <td>Stadium X</td>
        <td>10000</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Time: 2024-04-15</td>
        <td> Teams: C vs. D</td>
        <td>Round 2</td>
        <td>Stadium Y</td>
        <td>12000</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Time: 2024-04-14</td>
        <td> Teams: A vs. B</td>
        <td>Round 1</td>
        <td>Stadium X</td>
        <td>10000</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Time: 2024-04-15</td>
        <td> Teams: C vs. D</td>
        <td>Round 2</td>
        <td>Stadium Y</td>
        <td>12000</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Time: 2024-04-14</td>
        <td> Teams: A vs. B</td>
        <td>Round 1</td>
        <td>Stadium X</td>
        <td>10000</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Time: 2024-04-15</td>
        <td> Teams: C vs. D</td>
        <td>Round 2</td>
        <td>Stadium Y</td>
        <td>12000</td>
    </tr>
    <tr>
        <td>11</td>
        <td>Time: 2024-04-14</td>
        <td> Teams: A vs. B</td>
        <td>Round 1</td>
        <td>Stadium X</td>
        <td>10000</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Time: 2024-04-15</td>
        <td> Teams: C vs. D</td>
        <td>Round 2</td>
        <td>Stadium Y</td>
        <td>12000</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Time: 2024-04-14</td>
        <td> Teams: A vs. B</td>
        <td>Round 1</td>
        <td>Stadium X</td>
        <td>10000</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Time: 2024-04-15</td>
        <td> Teams: C vs. D</td>
        <td>Round 2</td>
        <td>Stadium Y</td>
        <td>12000</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Time: 2024-04-14</td>
        <td> Teams: A vs. B</td>
        <td>Round 1</td>
        <td>Stadium X</td>
        <td>10000</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Time: 2024-04-15</td>
        <td> Teams: C vs. D</td>
        <td>Round 2</td>
        <td>Stadium Y</td>
        <td>12000</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Time: 2024-04-14</td>
        <td> Teams: A vs. B</td>
        <td>Round 1</td>
        <td>Stadium X</td>
        <td>10000</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Time: 2024-04-15</td>
        <td> Teams: C vs. D</td>
        <td>Round 2</td>
        <td>Stadium Y</td>
        <td>12000</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Time: 2024-04-14</td>
        <td> Teams: A vs. B</td>
        <td>Round 1</td>
        <td>Stadium X</td>
        <td>10000</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Time: 2024-04-15</td>
        <td> Teams: C vs. D</td>
        <td>Round 2</td>
        <td>Stadium Y</td>
        <td>12000</td>
    </tr>


    </tbody>
</table>
</body>
<script src="/request.js"></script>
<script src="/statistic.js"></script>
<script src="/model.js"></script>
</html>
